<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">
        <h5 class="white-text">About us!</h5>
        <p class="grey-text text-lighten-4">Nithya Raj & Chelsa J</p>
        <p class="grey-text text-lighten-4">
          We made this application for our MCA mini projext.
        </p>
      </div>
      <div class="col s12 m4 l3"></div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2021 Copyright: Nithya & Chelsa</div>
  </div>
</footer>
