.page-footer {
  background-color: red !important;
}
.btn {
  background-color: red !important;
}

.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
.bg-danger {
  background-color: red !important;
}
nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  top: -23%;
  margin-top: 2%;
}
.btn.transparent {
  color: white;
}
.btn.transparent:hover {
  color: white;
}
.mynav {
  background-color: red;
}
label {
  color: white !important;
}
.edit-form {
  padding: 5%;
}
input {
  color: white;
}
i.material-icons:hover {
  color: white !important;
}
.sidenav-trigger {
  color: white !important;
}
.btn {
  font-weight: normal;
}
